.post{
    width: 100%;
    padding: 2rem;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--author{
            height: 6.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 6.4rem;
                width: 6.4rem;
                border-radius: 50%;
            }
            &--name{
                margin-left: 1rem;
                h3 {
                    font-size: 1.4rem;
                    font-weight: normal;
                    margin-bottom: 1rem;
                    transition: color .2s;
                    cursor: pointer;
                    &:hover{
                        color: #e95b3a;
                    }
                }
                p{
                    font-size: 1.2rem;
                    color: #888DA8;
                }
            }
        }
        &--setting{
            background-color: grey;
            height: .5rem;
            width: .5rem;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            transition: background-color .2s;
            &::after, &::before{
                position: absolute;
                top: 0;
                content: "";
                background-color: grey;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
            &::after{
                left: 1rem
            }
            &::before{
                left: -1rem
            }
            
            .tooltip{
                position: absolute;
                top: 1rem;
                right: 0;
                width: 0rem;
                background-color: #fff;
                font-size: 1.4rem;
                box-shadow: 1rem 1rem 4rem rgba(0,0,0,.1);
                padding: 1rem;
                visibility: hidden;
                opacity: 0;
                transition: width .2s;
                p{
                    margin-top: 1rem;
                    transition: color .2s;
                    &:hover{
                        color: #e95b3a
                    }
                }
            }
            &:hover .tooltip{
                visibility: visible;
                opacity: 1;
                width: 18rem;
            }
        }
    }
    &__body{
        font-size: 1.4rem;
        color: #888DA8;

        &--text{
            margin: 3rem 0;
        }
        &--image{
            width: 100%;
        }
    }

    &__infor{
        margin-top: 2rem;
        padding: 2rem 0;
        border-top: .1rem solid #ddd;
        &--interact{
            font-size: 1.2rem;
            color: #888DA8;
            span{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 1.4rem;
                }
            }
        }
        &--comments{
            padding: 2rem;
        }
    }
}